*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body{
	justify-items: center;
	align-items: center;
	justify-content: center;
	margin: auto;
	box-sizing: border-box
	
	
}

html{
	scroll-behavior: smooth;
}



.principal{

	margin: auto;
	justify-content: center;
	justify-items: center;
	position: absolute;
	align-items: center;
	padding: 20%;
	padding-top: 0;
	background: #fff;


}

header img{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}

header{
	background:#292929;
	z-index: 2;
	display:flexbox;
	align-items: center;
	justify-content: center;
}



header .nav{
	position: fixed;
	padding: 2%;
	top: 0px;
	z-index: 2;
	width: 100%;
	background: #292929;
	font-family: Fira Code;
	font-size: 100%;
	margin: auto;
	align-content: center;
	
	
}

nav a{
	color: white;
	font-family: Fira Code;
	float: left;	
	margin-left: 70px;
	display: flex;
}

nav{
	justify-content: center;
	align-items: center;
	justify-content: right;
	display: flex;
	margin-right: 5%
	
}

.navbar{
	margin-top:1%;
}



.logo{
	
	margin-bottom: -3.5%;
	margin-top: -1.2%;
	width: 100%;
}
header .header img{
	filter: blur(2px);
	opacity: 0.3;
	display: flex;
	width: 100%;
	
}

.conteudoheader{
	 position:absolute;
	 justify-content: center;
	 justify-items: center;
	 font-size:12px;
	 font-family: Fira Code;
	 text-align: center;
	 color: #fff;
	 z-index: 1;
	 width: auto;
	 top: 20%;
	 right: 22%;
	 text-align: justify;
	
	
	
}

.nav .navbar{

margin-top: none;
}



 .logo img{
width: 100%;
height: auto;
margin-top: none;
}
.logo{
	background-color: none;
	width: 44px;
	
}

#cursos{
	position: relative;
}

span h1{
	font-family: Fira Code;
	font-size: 44px;
	margin-top: 2%;
	position: relative;
	padding-top: 22px;
	padding-bottom: 22px;
}

span{
	text-align: justify;
}

span p{
	margin-bottom: 3%;
}


.home section {
	margin-right:20% ;
}

section .como{
	margin-top: 4%;
	padding-bottom: 8%;
	padding-top: 10%;
}	

section img{
	
	width: 100%;
	padding-top: 42px;

	}

	section h2{
		margin-top: 7%;
		font-family: Fira Code;
		bottom: 1px;
		font-size: 44px;
		
	}

	section p{
		text-align: justify;
		margin-bottom: 4%;
	}

	.js {
		margin-top: 2%;
		position: relative;
		
	}
	article{
		margin-top: 1%;
		margin-bottom: 5%;
		text-align: justify;
	}

	.cursos{
		font-family: Fira Code;
	}
section h2{
	font-family: Fira Code;
	
}

section h3{
	margin-bottom: -31px;
}

textarea{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #292929;
    color: #fff;
    resize: none;
    border: none; padding: 1%;
    border-radius: 5px;
    box-shadow: 0px 10px 5px 0px #292929;
}

.form button{
	margin-left: 45%;
	background-color: #292929;
	margin-top: 5%;
	padding: 12px;
	color: #fff;
	opacity: 0.9;
	border-radius: 4px;
	box-shadow: 0px 10px 5px 0px #292929;
	border-color: #000;
}

footer{
	background-color: #292929;
	color: #fff;
	font-weight:100;
	width: 100%;
	z-index: 1;
	position: absolute;
	display: flex;
	bottom: 1px;
	margin-left: -20%;
	height: 1%;
	align-items: center;
	justify-items: center;
	justify-content: center;
	font-size: 140%;
	font-family: Fira Code;
	font-weight: 100;

}

footer h6{
	opacity: 0.2;
}

@media (max-width:700px) {
	
	.conteudoheader{
		top: 9%;
		right: 12%;
	}
	
	.conteudoheader h1{
		font-size: 124%;
		position: static;
		margin: auto;
	}
	
	body{
		margin: auto;
	}
	nav{
		display: none;
	}
	.logo{
		position: absolute;
		margin-right: 2%;
	}

	.navbar{
		display: none;
	}
	.nav{
		display: none;
	}
	.principal{
		padding: 5%;
		font-family: Fira Code;
	}

	section{
		font-size: 13px ;
	}
	textarea{
		width: 100%;
		margin-top: -10%;

	}
	footer{
		display: none;
	}

	.form button{
		margin-left: 40%;
	}
	section h1{
		font-size: 22px;
	}
	body h1{
		font-size: 22px;
	}
	section h2{
		font-size: 22px;
	}
}